@{
    Layout = null;
}


<!DOCTYPE html>
<html>
@await Html.PartialAsync("HeaderPartial")
<body>

    <div class="sequence">

        <div class="seq-preloader">
            <svg width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg" class="seq-preload-indicator"><g fill="#F96D38"><path class="seq-preload-circle seq-preload-circle-1" d="M3.999 12.012c2.209 0 3.999-1.791 3.999-3.999s-1.79-3.999-3.999-3.999-3.999 1.791-3.999 3.999 1.79 3.999 3.999 3.999z" /><path class="seq-preload-circle seq-preload-circle-2" d="M15.996 13.468c3.018 0 5.465-2.447 5.465-5.466 0-3.018-2.447-5.465-5.465-5.465-3.019 0-5.466 2.447-5.466 5.465 0 3.019 2.447 5.466 5.466 5.466z" /><path class="seq-preload-circle seq-preload-circle-3" d="M31.322 15.334c4.049 0 7.332-3.282 7.332-7.332 0-4.049-3.282-7.332-7.332-7.332s-7.332 3.283-7.332 7.332c0 4.05 3.283 7.332 7.332 7.332z" /></g></svg>
        </div>

    </div>

    @await Html.PartialAsync("NavbarPartial")



    <div class="slides">

        @await Component.InvokeAsync("FeatureList")


        @await Component.InvokeAsync("AboutList")



        @await Component.InvokeAsync("ProjecktList")



        @await Component.InvokeAsync("CertificateList")


    </div>

    <div class="footer">
        <div class="content">
            <p>Copyright &copy; @DateTime.Now.Year Burak Büyükdağdaş. <a href="https://wa.me/905345811690">Whatsapp</a> | <a href="https://github.com/BurakBuyukdagdas">GitHub</a> | <a href="https://www.linkedin.com/in/burakbuyukdagdas" target="_parent">Linkedln</a></p>
        </div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/moonlight-master/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="/moonlight-master/js/vendor/bootstrap.min.js"></script>

    <script src="/moonlight-master/js/datepicker.js"></script>
    <script src="/moonlight-master/js/plugins.js"></script>
    <script src="/moonlight-master/js/main.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {



            // navigation click actions
            $('.scroll-link').on('click', function (event) {
                event.preventDefault();
                var sectionID = $(this).attr("data-id");
                scrollToID('#' + sectionID, 750);
            });
            // scroll to top action
            $('.scroll-top').on('click', function (event) {
                event.preventDefault();
                $('html, body').animate({ scrollTop: 0 }, 'slow');
            });
            // mobile nav toggle
            $('#nav-toggle').on('click', function (event) {
                event.preventDefault();
                $('#main-nav').toggleClass("open");
            });
        });
        // scroll function
        function scrollToID(id, speed) {
            var offSet = 0;
            var targetOffset = $(id).offset().top - offSet;
            var mainNav = $('#main-nav');
            $('html,body').animate({ scrollTop: targetOffset }, speed);
            if (mainNav.hasClass("open")) {
                mainNav.css("height", "1px").removeClass("in").addClass("collapse");
                mainNav.removeClass("open");
            }
        }
        if (typeof console === "undefined") {
            console = {
                log: function () { }
            };
        }
    </script>
</body>
</html>