<nav>
    <div class="logo">
        <img src="/moonlight-master/img/Software2.png" alt="">
    </div>
    <div class="mini-logo">
        <img src="/moonlight-master/img/mini_logo.png" alt="">
    </div>
    <ul>
        <li><a href="#1"><i class="fa fa-home"></i> <em>Anasayfa</em></a></li>
        <li><a href="#2"><i class="fa fa-user"></i> <em>Hakkımda</em></a></li>
        <li><a href="#3"><i class="fa fa-pencil"></i> <em>Projeler</em></a></li>
        <li><a href="#4"><i class="fa fa-image"></i> <em>Sertifikalar</em></a></li>
        @*<li><a href="#5"><i class="fa fa-envelope"></i> <em>İletişim</em></a></li>*@
    </ul>
</nav>
