@using EntityLayer.Concrete
@model List<Feature>



<div class="slide" id="1">
    <div class="content first-content">
        @foreach(var item in Model)
        {
            <div class="container-fluid">
                <div class="col-md-3">
                    <div class="author-image"><img src="@item.Images" alt=""></div>
                </div>
                <div class="col-md-9">
                    <h2>@item.Title</h2>
                    <p>@item.Description</p>
                    <div class="main-btn"><a href="#2">Hakkımda</a></div>
                    <div class="fb-btn"><a href="https://www.linkedin.com/in/burakbuyukdagdas" target="_blank">Linkedin</a></div>
                </div>
            </div>
        }
    </div>
</div>

